{% extends 'cmpt_layout.html' %}

{% block head -%}
{% endblock %}
{%- block content -%}

<div class="container" id="container">
{{ header }}
{{ menu }}

<div class="content" id="content">
<!--
<hr>
<h2>The CMPT is not open for new Spring 2019 students yet. It will be open no later than December 1st. We apologize for any inconvenience.</h2>
<hr>
-->
<p>You are logged in as <span class="username">{{username}}</span>. If this is
  not your username you need to close your browser and return to this
  page.</p>
<p>The test is admistered though ALEKS, but you cannot access the CMPT
  directly through their website. If you get logged out and need to return to
  the test or are working on learning modules, you will need to return to this
  page to access the test. This allows your Clemson University login
  information to be used to authenticate you with the ALEKS system.</p>
<!--
<p> <strong> For information on retaking the CMPT, or taking the exam at --
  --Orientation, please scroll down. </strong>
-->

<!--
<p><font color="FF0000">
    While Clemson University is in online delivery mode in response to the
    COVID19 crisis, all CMPT attempts will be made using Respondus
    Monitor. Using your webcam, the software will record you taking your
    exam. The recording of your placement test session will be reviewed before
    your score is approved and available for use. Because of the time it takes
    for your video to become reviewable, the time it takes to review it, and
    the fact that the system only updates scores once every morning, it may be
    2-3 business days before your score appears in iRoar. You will be
    contacted only in the event your attempt is not approved. Should 3
    business days have passed, and your score is not in iRoar, nor have you
    been contacted, please feel free to contact mathreg@clemson.edu to inquire
    about your placement attempt. Please include you Clemson ID number and
    Clemson username in your email. </li>
    <p>
      When you are ready to take the CMPT, read the items Required Materials
      and Before You Begin, then click "Go To ALEKS". Note: Respondus Monitor
      has a 5 dollar fee you will need to pay before taking the CMPT.
    </p>
</font>
-->
<hr>
<h2>Taking the CMPT</h2>
<!--
<p>The CMPT must be taken on campus in Vickery Hall, at Clemson's Test
   Proctoring Center. The CMPT may be taken Monday through Friday on days
   campus is open. Students may begin the exam as early as 8:00 AM. On a
   typical day, the latest a student may begin is 1:00 PM. However, students
   attending new freshman orientation should schedule their retake to begin
   between 3:00 and 4:00 PM on day 1 of Orientation. <strong> Students may
   sign up to take the CMPT on the Sunday before the Fall or Spring term
   begins, but need to begin between 10 AM and 4 PM. </strong> Regardless of
   when you want to retake the CMPT, an appointment will need to made.</p>
<p>If you would like to take the placement test, please go to the following
   link and schedule a time to retake the
   CMPT: <strong>www.registerblast.com/clemson </strong>Your test will not
   officially be scheduled until you've received a reply confirming your
   appointment. If you have any issues, please email UTEC@clemson.edu.</p>
<p>Please remember to bring a credit or debit card with you. The proctoring
   center will charge 10 dollars for each exam taken with them, and ALEKS
   will charge 25 dollars when you take it the first time.</p>
-->
<p>
  All CMPT attempts will be made using Respondus Monitor. Using your webcam,
  the software will record you taking your exam. The recording of your
  placement test session will be reviewed before your score is approved and
  available for use. Because of the time it takes for your video to become
  reviewable, the time it takes to review it, and the fact that the system
  only updates scores once every morning, it may be 2-3 business days before
  your score appears in iRoar. You will be contacted only in the event your
  attempt is not approved. Should 3 business days have passed, and your score
  is not in iRoar, nor have you been contacted, please feel free to contact
  mathreg@clemson.edu to inquire about your placement attempt. Please include
  you Clemson ID number and Clemson username in your email. </li>
<p>
  When you are ready to take the CMPT, read the items <em>Required Materials</em> and
  <em>Before You Begin</em>, then click the purple "Go To ALEKS" button below.</a>.
</p>

<hr>
<h2>Required Materials</h2>
<ul>
  <li>Have blank paper and pencil ready for scratch work.</li>
  <li>Have a photo ID available.</li>
  <li>You should allocate 2 hours to complete the exam, but have 3 hours to
  complete it. You may take the test up to 4 times.</li>
</ul>
<h2>Before You Begin</h2>
<ul>
  <li>You must take the CMPT on your own. You are <strong>not</strong>
  permitted to receive any outside help once you start. You
  are <strong>not</strong> permitted to get up or leave the camera view while
  taking the exam. </li>

  <li>You are <strong>only</strong> permitted to use the resources given to
    you by the placement test software. Should a calculator be needed a for a
    problem, the software will provide you one on the screen to use.</li> 
<!--
  <li>You are not permitted to get up during your exam. Please use the
  restroom before you begin and make sure you have enough scratch paper.</li>
  <li>Turn off or put away all outside electronics, including any phones, 
  smart watches, other computers, etc.</li> 
-->
  <li>When you go to take the CMPT, you will be asked to show a picture ID
  before being asked to use your webcam to scan the room and your testing
  area. You must show your ENTIRE working space, including the
  tabletop/desktop/bed/etc your computer will be sitting on AND the location
  of your cell phone. Your cell phone must not be within arms reach. Put it
  across the room and show it when you scan the room. Failure to show a
  cleared off workspace and the location of your cell phone will result in
  your attempt being denied, but still counting as one of your attempts. There
  should be no other electronic devices in the room, besides the one you are
  using to take the test. This includes, but is not limited to, additional
  computers, cell phones, and calculators. You only need BLANK paper and a
  pencil.</li>

  <li>Before starting the CMPT, you must agree to abide by these
  provisions. Failure to do so will be a violation of the Clemson University
  Statement of Academic Integrity. It may also result in you being placed into
  a math course for which you are not prepared for.</li>
<p>

<!--
><strong> The CMPT is only open to continuing (current Clemson) students right  
   now. New Fall 2020 students, and those beginning in summer 2, must  
   wait. We apologize for any inconvenience. </strong>
-->

</p>
</ul>

{{content}}
</div>

{{ footer }}
</div>
{%- endblock content %}
