{% extends 'cmpt_layout.html' %}

{% block head -%}
{% endblock %}
{%- block content -%}
    
<div class="container" id="container">
{{ header }}
{{ menu }}

<div class="content" id="content">{{content}}
<ul>
  <li>
    <div> <p> <b>Readiness Assessment </b> </p> </div>
    <ul>
      <li> <p> Students in MATH 1060, MATH 1080, and 2060 will take a
      readiness assessment within the first few days of class. The assessment
      will measure how prepared the students are to take the course for which
      they are registered. Based on the results of the assessment, students
      may choose to move down to MATH 1040, MATH 1060, or MATH 1080. More
      instruction about the assessment and how to move down after the start of
      classes will be given in class. </p> </li>

      <li> <p> We have found that students coming in with transfer credit, and
      even AP credit, aren't always as 'ready' to take our calculus courses as
      their scores/grades indicate. It may be advantageous for a student to
      repeat one or more of the courses they transfer in. </p> </li>
    </ul>
  <li>
    <div> <p> <b>Recommendations for Students Coming in with AP Calculus
    Credit </b> </p> </div> 
    <ul>
      <li> <p> <b>AB Score of 3 or 4:</b> Register for MATH 1060. If a student
      does not have a score of 680 on the math portion of the SAT or a 29 on
      the MATH portion of the ACT, but has at least a 3 on the AP Calculus
      exam, they may email <a href="mailto:mathreg@clemson.edu">
      mathreg@clemson.edu </a> to obtain an override to register for MATH
      1060. They need to include their Clemson ID number and a copy of their
      AP scores. </p> </li> 

      <li> <p> <b>AB Score of 5:</b> Register for MATH 1080, but be prepared
      to move back to MATH 1060 after taking the Readiness
      Assessment. </p> </li>
      <li> <p> <b>BC Score of 3:</b> Use AB Subscore and follow
      recommendations for AB Score. </p> </li>
      <li> <p> <b>BC Score of 4:</b> Register for MATH 2060, but be prepared
      to move back to MATH 1080 after taking the Readiness
      Assessment. </p> </li>
      <li> <p> <b>BC Score of 5:</b> Register for MATH 2060. </p> </li>
    </ul>
  </li>
  <li>
    <div> <p> <b> Registering for Courses Before AP or Transfer Credit Gets to
    Clemson in Fall </b> </p> </div>
    <ul>
      <li> <p> If you need to register for MATH 1020, 1040, 1060, 1080, 2060,
      2070, 2080, 3110, or STAT 3090, register for these classes using section
      888. You will receive an email in mid-July and again before classes
      begin with instructions. In short: Those meeting the prerequisites will
      be moved to a real section that fits in your schedule before classes
      begin. If you do not get the credit you are expecting, please drop
      yourself and register for the prerequisite course. </p> </li>

      <li> <p> If you need to register for another MATH or STAT course, you
      will need to wait for your AP or Transfer Credit to come in before you
      may register for the course.  </p> </li> 
    </ul>
  </li>
</ul>

<!--
    <p>Course prerequisites can be met by course credit as well as through the CMPT. However, having course credit does not change the requirement that all new freshmen and transfer students take the CMPT.</p>

    <p>Course prerequisites can be satisfied as follows:</p>

    <ol>
        <li>
            <p>Take the College Board Advanced Placement (AP) Exam in either Calculus or Statistics, or the International Baccalaureate (IB) Higher Level Mathematics Exam. Taking any of these exams implies that you have completed either an Advanced Placement course or have been enrolled in the International Baccalaureate program. If you receive AP or IB credit, you will not be required to take any preparatory course that is prerequisite to the advanced placement credit course. You should register to take either the AP or IB exam at your high school and have the scores sent directly to Clemson University.</p>
        </li>

        <li>
            <p>Take and successfully complete the college level preparatory course for the first mathematics course required by your major. At Clemson, these courses are MATH 1030, MATH 1040, MATH 1050, and MATH 1990. Equivalent courses at other institutions may also be taken. You can complete the appropriate college level preparatory course in one of two ways:</p>

            <ol type="a" style="margin-top: 10px;">
                <li>
                    <p>Take <strong>MATH 1040</strong> or <strong>MATH 1990</strong> this summer at Clemson during the second summer session. (<strong>MATH 1030</strong> and <strong>MATH 1050</strong> are not offered in the summer.) For information about enrollment in summer school, contact the Clemson University Office of Undergraduate Admissions (864-656-2287, <a href="mailto:cuadmissions@clemson.edu">cuadmissions@clemson.edu</a>) and Orientation Office (864-656-4402, <a href="mailto:orient@clemson.edu">orient@clemson.edu</a>) for additional information or visit the web site <a href="http://www.clemson.edu/prospectivestudents/" target="_blank">http://www.clemson.edu/prospectivestudents/</a>.</p>
                </li>

                <li>
                    <p>Take a course equivalent to <strong>MATH 1030</strong>, <strong>MATH 1040</strong>, <strong>MATH 1050</strong>, or <strong>MATH 1990</strong> this summer at another institution. Upon satisfactory completion (a grade of "C" or higher), you will receive transfer credit for the corresponding Clemson course. Contact the Clemson University Office of Undergraduate Admissions (864-656-2287, <a href="mailto:cuadmissions@clemson.edu">cuadmissions@clemson.edu</a>) to determine what courses at other institutions are equivalent to these courses at Clemson. The Transfer Course Equivalency List (TCEL) is a partial list of courses from other institutions that transfer to Clemson and is available at <a href="http://www.clemson.edu/tcel/" target="_blank">http://www.clemson.edu/tcel/</a>.</p>
                </li>
            </ol>
        </li>
    </ol>

    <h2>Claiming Course Credit</h2>

    <p>Your course credit is often not officially recorded in the Clemson University course registration system until sometime after the start of the semester. Click the button below to claim course credit prior to its being officially recorded by the university.</p>

    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px; font-family: sans-serif;"><a class="button_link" href="claim_credit.py" target="_blank">Claim Credit</a></div>    
-->
</div>

{{ footer }}
</div>
{%- endblock content %}
