{% extends 'cmpt_layout.html' %}

{% block head -%}
{% endblock %}
{%- block content -%}
    
<div class="container" id="container">
{{ header }}
{{ menu }}

<div class="content" id="content">{{content}}
  <!--
  <h2>Notice</h2>
  <p>We are in the process of having prerequisite changes approved by the university which will impact placement in mathematics and statistics courses for new Fall 2020 students. Once these changes have been approved, this website will be updated with new information, hopefully by April 1st. We appreciate your patience and apologize for any inconvenience.</p>
-->
    <ul>
 <!--
 <li>The CMPT is <strong> REQUIRED </strong> of all new students, regardless of AP, transfer, or Bridge credit. </li>
-->        
 <p><font color="FF0000">
     <li>The CMPT must be taken using a computer with a webcam. You must show
     a picture ID. The software will have you scan the room and your testing
     area. You must show your ENTIRE working space, as well as the location of
     your cell phone. Further directions are on the <a href="access_test"> "Go To ALEKS"</a> page. </li> 
 </font></p>

 <li>Beginning Fall 2020, placement into introductory chemistry,
   computer science, mathematics, physics, and statistics courses is
   primarily done using the score from the math portion of the SAT or
   ACT. However, a student may choose to take the CMPT to try and improve
   upon their placement. </li>
        
 <li>Please see <a href="view_cmpt_score">View/Interpret Score</a> for
   a detailed list of these courses, their descriptions and
   prerequisites. </li>
 
 <li>The CMPT is an online placement exam, using ALEKS (Assessment and
   LEAarning in Knowledge Spaces). It is an adaptive exam, consisting of
   approximately 25 - 35 questions. </li>
 
 <li>Because of the online proctoring requirement and the potential for losing
 an attempt due to a poorly recorded video or incorrectly shown environment,
 students are now given up to 4 attempts on the CMPT. There is a 24 hour
 'cooling off' period between attempts. The highest score received will be
 used for placement. To take the CMPT, click the <a href="access_test"> "Go To
 ALEKS"</a> link in the above menu. </li>

 <li>After taking the test for the first time, students will have access to
 ALEKS learning modules. We strongly recommend students work through some of
 these before taking the test again. These modules are designed to refresh
 students' mathematical skills. ALEKS placement is an adaptive test. Once
 students complete their first assessment, ALEKS will suggest where to start
 in the learning modules. Students have free access to the learning modules
 for 12 months. The 12 month access to the learning modules begins once the
 student first accesses them. ALEKS may trigger an assessment while the
 student is working through the modules. This is so the software can assess
 student progress. It does NOT count as one of the permitted 3 attempts.</li>

 <li>Students will have 3 hours to complete the exam. The average completion
 time is 2 hours. </li>

 <li>Any student who requires accommodation(s) for placement testing should
 work with Student Accessibility Services (SAS) to put reasonable
 accommodations in place prior to taking the test. Contact SAS directly at
 <a href="mailto:studentaccess@lists.clemson.edu"> studentaccess@lists.clemson.edu</a>. </li>

 <li>ALEKS charges a $25 fee for access to the exam and learning modules. This
 is a one-time fee for 3 attempts and 12 months access to the modules. The
 test proctoring center also charges 10 dollars for each attempt at the time
 the test is taken. Please have a credit card or debit card available when you
 go to take the exam. There is no additional charge for ALEKS when you go to
 take attempts 2 or 3, but there is still the proctoring fee. Should you need
 to take the placement test again after your 12 months have expired though,
 you will need to start over and will be charged by ALEKS again.</li> 
		
 <li>Students who are no longer eligible to take the exam should contact
 Ms. Connie
 McClain: <a href="mailto:vmcclai@clemson.edu">vmcclai@clemson.edu</a>. Include
 your Clemson ID number and username. </li> 
    </ul>
</div>

{{ footer }}
</div>
{%- endblock content %}
