{% extends 'cmpt_layout.html' %}

{% block head -%}
{% endblock %}
{%- block content -%}

<div class="container" id="container">
{{ header }}
{{ menu }}

<div class="content" id="content">

{{ login_msg }}
{{ score_info }}
<h2>Interpreting Your Score</h2>
<div>Below are the courses with SATmath, ACTmath, and/or CMPT
  prerequisites. Please consult the undergraduate catalog to determine which
  course is most appropriate for your chosen major. </div>
<div>
<p>
<div> <b> CPSC 1010 </b> - Computer Science I </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 60 OR CPSC 1040 or CPSC 1210. </div>
<p>
<div> <b> CPSC 1060 </b> - Introduction to Programming in Java </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 60 OR CPSC 1040 or CPSC 1210. </div>
<p>
<div> <b> CPSC 1110 </b> - Introduction to Programming in C </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 60 OR ENGR 1020 or ENGR 1050. </div>
<p>
<div> <b> ENGR 1020 </b> - Engineering Disciplines and Skills </div>
<div> Prerequisite: SATmath score &#8805; 640 OR ACTmath score &#8805; 27 OR
  CMPT score &#8805; 65 OR MATH 1040, MATH 1060, MATH 1080, MATH 2060, or MATH
  2080 with a grade of C or better. </div>
<div> Corequisite: ENGR 1021 (must register for both at the same time) </div>
<p>
<div> <b> MATH 1030 and 1031 </b> - Elementary Functions and Lab </div>
<div> Prerequisite: SATmath score &#8805; 540 OR ACTmath score &#8805; 21 OR
  CMPT score &#8805; 50 or credit for any MATH or STAT course. </div>
<div> This course is typically taken by engineering or science students whose
  major requires MATH 1060, but who do not meet the prerequisites for MATH
  1040 or 1060. For students successfully completing MATH 1030 at Clemson, we
  will manually update their CMPT score so they are elegible to take MATH 1060
  the following semester. MATH 1030 by itself does NOT count as a General
  Education mathematics requirement. Note: Transfer credit for MATH 1030 is
  not a prerequisite for MATH 1060. </div>
<p>
<div> <b> MATH 1040 </b> - The first half of Long Calculus </div>
<div> Prerequisite: SATmath score &#8805; 640 OR ACTmath score &#8805; 27 OR
  CMPT score &#8805; 65 or credit for any MATH or STAT course. </div>
<div> This course is typically taken by engineering or science students whose
  major requires MATH 1060, but who do not meet the prerequisites for MATH
  1060. Students successfully completing MATH 1040 should take MATH 1070 (the
  second half of long calculus) the following semester. Together MATH 1040 and
  1070 count as MATH 1060. MATH 1040 by itself does NOT count as a General
  Education mathematics requirement.  </div>
<p>
<div> <b> MATH 1060 </b> - Engineering and Science Calculus I </div>
<div> Prerequisite: SATmath score &#8805; 680 OR ACTmath score &#8805; 29 OR
  CMPT score &#8805; 80. </div>
<ul>
<li>If a student does not have a score of 680 on the math portion of the SAT
  or a 29 on the MATH portion of the ACT, but has at least a 3 on the AP
  Calculus exam, they may email mathreg@clemson.edu to obtain an override to
  register for MATH 1060. They need to include their Clemson ID number and a
  copy of their AP scores. </li>
</ul>
<div> This course is typically taken by engineering and science majors. MATH
  1060 counts as a General Education mathematics course. </div>
<p>
<div> <b> Note: </b>Students whose major requires MATH 1060, but who do not
  meet the prerequisites for MATH 1030, 1040, or 1060 should register for MATH
  1050 and 1051, Pre-Calculus and Pre-Calculus Lab. Upon successful completion
  of MATH 1030/1031 or MATH 1050/1051 <b> at Clemson</b>, the student's CMPT
  score will be updated to an 80 so they may take MATH 1060. </div>
<p>
<p>
<div> <b> MATH 1010 </b> - Quantitative Literacy </div>
<div> Prerequisite: SATmath score &#8805; 540 OR ACTmath score &#8805; 21 OR
  CMPT score &#8805; 50 or credit for any MATH or STAT course. </div>
<div> This course counts as a General Education mathematics course. </div>
<p>
<div> <b> MATH 1020 </b> - Business Calculus I </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 60 or credit for any MATH or STAT course. </div>
<div> This course is typically taken by pre-business students and some science
  majors. MATH 1020 counts as a General Education mathematics course. </div>
<p>
<div> <b> MATH 1150 </b> - Contemporary Mathematics for Elementary School
  Teachers I </div>
<div> Prerequisite: SATmath score &#8805; 540 OR ACTmath score &#8805; 21 OR
  CMPT score &#8805; 50 or credit for any MATH or STAT course. </div>
<div> This course is restricted to elementary, early childhood, and special
  education majors only. MATH 1150 by itself does not count as a General
  Education mathematics course. </div>
<p>
<div> <b> PHYS 2070 </b> - General Physics I </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 60 or credit for MATH 1020, 1040, 1050, 1060, or
  1070. </div>
<div> This course is to be taken by students who are not majoring in physical
  science or engineering. </div>
<p>
<div> <b> STAT 2220 </b> - Statistics in Everyday Life </div>
<div> Prerequisite: SATmath score &#8805; 540 OR ACTmath score &#8805; 21 OR
  CMPT score &#8805; 50 or credit for any MATH course. </div>
<div> This course counts as a General Education mathematics course. </div>
<p>
<div> <b> STAT 2300 </b> - Statistical Methods I </div>
<div> Prerequisite: SATmath score &#8805; 620 OR ACTmath score &#8805; 26 OR
  CMPT score &#8805; 65 or credit for STAT 2220 or any MATH course. </div>
<div> Corequisite: STAT 2301 (must register for both at the same time) </div>
<div> This course counts as a General Education mathematics course. </div>
<p>
<div> <b> Note: </b>Students needing to take MATH 1010, 1020, 1150, STAT 2220
  or STAT 2300, but who do not meet the prerequisites should register for MATH
  1990 and 1991, College Algebra. Upon successful completion of MATH
  1990/1991, the student may take MATH 1010, 1020, 1150, STAT 2220 or STAT
  2300. </div>


<!--
<table class="cutoff_table">
  <tr>
    <td>CMPT score</td>
    <td>Curriculum Requires MATH 1060</td>
    <td>Curriculum Does Not Require MATH 1060</td>
  </tr>
  <tr>
    <td>0-49</td>
    <td>MATH 1050 and MATH 1051</td>
    <td>MATH 1990 and MATH 1991</td>
  </tr>
  <tr>
    <td>50-59</td>
    <td>MATH 1050 and MATH 1051</td>
    <td>MATH 1010, 1150, STAT 2220</td>
  </tr>
  <tr>
    <td>60-64</td>
    <td>MATH 1050 and MATH 1051</td>
    <td>MATH 1010, 1020, 1150, STAT 2220</td>
  <tr>
    <td>65-79</td>
    <td>MATH 1040</td>
    <td>MATH 1010, 1020, 1150, STAT 2220, 2300</td>
  </tr>
  <tr>
    <td>80-100</td>
    <td>MATH 1060</td>
    <td>MATH 1010, 1020, 1150, STAT 2220, 2300</td>
  </tr>
</table>
-->

<h2>Improving Your Score</h2>
<div>If you are not satisfied with the score you received on the CMPT, you may
  take the test up to <strong>4</strong> times to improve your score. Your
  highest score will be used for placement. To help you improve, you should
  complete the ALEKS learning modules. To work on learning modules or to take
  the test again, click the Go To ALEKS link in the menu above. Remember, you
  must wait at least 24 hours before taking the CMPT again. </div>
<p>

{{content}}
</div>

{{ footer }}
</div>
{%- endblock content %}
