.table_view td
{
    border: solid 1px #000000;
    padding: 5px;
    font-family: sans-serif;
}

.table_view
{
    border: solid 1px #000000;
    font-size: 15px;
}

.table_view tr:first-child td
{
    font-weight: bold;
}
