<ol>
    <li>
        <div class="question">Which of the following best describes you?</div>
        <div class="options">
            <select name="description">
                <option value="">-- NONE --</option>
                <option value="MS1">First Year MS Student</option>
                <option value="MS2">Second Year MS Student</option>
                <option value="PhD1">PhD Student preparing for exams</option>
                <option value="PhD2">PhD Student with exams (prelims and comprehensive) completed</option>
                <option value="MS_grad">MS graduate</option>
                <option value="PhD_grad">PhD graduate</option>
            </select>
        </div>
    </li>
    <li>
        <div class="question">Did you participate in the Bridge Program?</div>
        <div class="options">
            <select name="participation">
                <option value="-1">-- NONE --</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>
    </li>
    <li class="did_participate">
        <div class="question">Please indicate your level of agreement with the following statements concerning the breadth courses you have taken.</div>
        <div class="options">
            <ul>
                <li>
                    <div class="question">The information in the Bridge Program was useful in Matrix Analysis (MATH 853/8530):</div>
                    <div class="options">
                        <select name="MATH_853_info">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in Linear Analysis (MATH 821/8210):</div>
                    <div class="options">
                        <select name="MATH_821_info">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="questions">The information in the Bridge Program was useful in Scientific Computing (MATH 860/8600):</div>
                    <div class="options">
                        <select name="MATH_860_info">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in Mathematical Programming (MATH 810/8100):</div>
                    <div class="options">
                        <select name="MATH_810_info">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in Statistics &amp; Probability (MATH 804/8040, 805/8050, or 800/8000):</div>
                    <div class="options">
                        <select name="MATH_804_info">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="question">Based on your experiences in the breadth courses, please indicate specific topics that you believe would be important to include in the Bridge Program.</div>
        <div class="options">
            <ul>
                <li>
                    <div class="question">Topics to include for Math 853/8530, Matrix Analysis</div>
                    <div class="options"><textarea name="MATH_853_topics" maxlength="500"></textarea></div>
                </li>
                <li>
                    <div class="question">Topics to include for Math 821/8210, Linear Analysis</div>
                    <div class="options"><textarea name="MATH_821_topics" maxlength="500"></textarea></div>
                </li>
                <li>
                    <div class="question">Topics to include for Math 860/8600, Scientific Computing</div>
                    <div class="options"><textarea name="MATH_860_topics" maxlength="500"></textarea></div>
                </li>
                <li>
                    <div class="question">Topics to include for Math 810/8100, Mathematical Programming</div>
                    <div class="options"><textarea name="MATH_810_topics" maxlength="500"></textarea></div>
                </li>
                <li>
                    <div class="question">Topics to include for Math 804/8040, 805/8050, or 800/8000, Statistics &amp; Probability</div>
                    <div class="options"><textarea name="MATH_804_topics" maxlength="500"></textarea></div>
                </li>
            </ul>
        </div>
    </li>
    <li class="did_participate">
        <div class="question">Please indicate your level of agreement with the following statements concerning learning skills that were enhanced by your participation in the Bridge Program.</div>
        <div class="options">
            <ul>
                <li>
                    <div class="question">The information in the Bridge Program was useful in understanding lectures:</div>
                    <div class="options">
                        <select name="lectures">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in reading textbooks:</div>
                    <div class="options">
                        <select name="textbooks">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in time management:</div>
                    <div class="options">
                        <select name="time_management">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in reviewing notes:</div>
                    <div class="options">
                        <select name="reviewing_notes">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="question">The information in the Bridge Program was useful in discerning what I knew and what I didn't know:</div>
                    <div class="options">
                        <select name="knowledge">
                            <option value="NA">Not Applicable</option>
                            <option value="strongly agree">Strongly Agree</option>
                            <option value="agree">Agree</option>
                            <option value="disagree">Disagree</option>
                            <option value="strongly disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="did_participate">
        <div class="question">Please indicate the reasons that you participated in the Bridge Program.</div>
        <div class="options">
            <ul>
                <li><label><input type="checkbox" name="peers" value="1"> Get to know my peers</label></li>
                <li><label><input type="checkbox" name="grad_program" value="1"> Learn more about the graduate program</label></li>
                <li><label><input type="checkbox" name="background" value="1"> Strengthen my background</label></li>
                <li>Other (please specify): <input type="text" name="participation_other" maxlength="500"></li>
            </ul>
        </div>
    </li>
    <li class="did_not_participate">
        <div class="question">Please indicate the reasons that you did not participate in the Bridge Program.</div>
        <div class="options">
            <ul>
                <li><label><input type="checkbox" name="time" value="1"> Time</label></li>
                <li><label><input type="checkbox" name="funding" value="1"> Funding</label></li>
                <li><label><input type="checkbox" name="timing" value="1"> Timing of the Bridge Program</label></li>
                <li><label><input type="checkbox" name="not_aware" value="1"> I was not aware of it</label></li>
                <li>Other (please specify): <input type="text" name="not_participate_other" maxlength="500"></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="question">Please provide any suggestions you have that would improve the effectiveness of the bridge program.</div>
        <div class="options"><textarea name="suggestions" maxlength="2000"></textarea></div>
    </li>
    <li>
        <div class="question">Anonymity of all respondees will be protected. However if you are willing to be contacted so that we can follow up on your suggestions, please leave your email address.</div>
        <div class="options"><input type="text" name="email" maxlength="100"></div>
    </li>
</ol>
