{% extends 'ug_course_pages_layout.html' %}

{% block head -%}
{% endblock %}
{%- block content -%}

<div id="main">
  <div id="header">
    <a href="http://www.clemson.edu/math" title="School Home">
      <img src="/style/math_logo.png" alt="school logo">
    </a>
    <h1><a href="course_pages.py">Coordinated Course Information</a></h1>
  </div>

  <div id="content">
    <h1>Calculator Recommendations</h1>
    <br>
		
    <h2>MATH 1010</h2>
    <p>A TI-83, TI-83+, TI-84, or TI-84+ is required. Students will not be permitted to use a laptop computer or a cell phone as a substitute for a calculator. A TI-89 is not permitted.</p>

    <h2>MATH 1020 and 2070</h2>
    <p>The School of Mathematical and Statistical Sciences strongly recommends that each student in MATH 1020 and 2070 have a TI-84+ (or SE or CSE or CE) or TI-83+ calculator. It will be very difficult to complete tests or assignments without the use of such a calculator. Students in MATH 1020 and 2070 will not be permitted to use a TI-Inspire calculator or one which does symbolic mathematics, such as a TI-89 or TI-92, on tests or quizzes.</p>

    <h2>MATH 1050 and 1990</h2>
    <p>The School of Mathematical and Statistical Sciences strongly recommends that each student in MATH 1050 and 1990 have a scientific calculator (one including trig and log functions) such as a TI-30XII. This calculator will be used for class work and tests. Use of a graphing calculator, such as a TI-83+, TI-84, or TI-84+, or TI-89, will not be allowed for tests.</p>

    <h2>MATH 1030, 1040, 1060, 1070, and 1080</h2>
    <p>The School of Mathematical and Statistical Sciences strongly recommends that each student in MATH 1030, 1040, 1060, 1070, and 1080 have a graphing calculator, such as a TI-83+, TI-84, TI-84+, or TI-89. Students will be expected to use a calculator for homework and classroom exercises. Students will not be permitted to use laptop computers or calculators on exams.</p>

    <h2>STAT 2300</h2>
    <p>A scientific calculator such as a TI-30 is required (a graphing calculator such as a TI-84 is permitted). Students will need to bring a calculator with them to every lecture and lab class, and to every exam. Students will not be permitted to use the calculator functions on their laptop computers or cell phones as a substitute for a calculator.</p>

  </div>
</div>		
{%- endblock content %}
