<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Grades: Message</title>
  <link rel="stylesheet" href="grade_collection.css" type="text/css">
  <style type="text/css">
    a:visited, a:hover, a:active
    {
        color: #FFFFFF;
    }

    a:hover, a:active
    {
        background: #755799;
    }
  </style>
</head>
<body>
  <div class="main_content">
    <div style="margin: 30px auto; background: #522D80; padding: 10px; width: 400px;">
      <div style="border: solid 2px #FFFFFF; color: #FFFFFF; padding: 30px;
		  text-align: center;">{{content}}</div>
    </div>
  </div>
</body>
</html>
