<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript"
	    src={{url_for('static',filename='scripts/msgBoxFade.js')}}></script>
    <style type="text/css">
    td
    {
        text-align: center;
    }

    tr:first-child td
    {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 2px 6px;
    }
    </style>

    {% block head %}
    {% endblock -%}
    {% block javascript %}
    {# http://danml.com/download.html -#}
    {% endblock -%}
  </head>
  <body>
    <div style="position:absolute; right:50%; Z-index: 1">
      <span id="flash_messages_box" style="position: absolute; transform:translate(-50%,10px); min-width:60vw; display: none; width: 50%; padding: 15px; background: #FFFF99; border: solid 2px #000000;">{{get_flashed_messages()[-1]}}</span>
    </div>
     {% block content %}{% endblock %}
    {# Uncomment the following line to print the debug variable to the page #}
    {# <p> debug in layout: {{ debug }} </p> #}
  </body>
</html>
