<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet"
    	  type="text/css"
    	  href="{{ url_for('dept_forms.static',filename='styles/dept_forms.css') }}">
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript"
	    src={{url_for('static',filename='scripts/msgBoxFade.js')}}></script>
    {% block head %}
    {% endblock -%}
    {% block javascript %}
    {% endblock -%}
  </head>
  <body>
    <div style="position:absolute; right:50%; Z-index: 1">
      <span id="flash_messages_box" style="position: absolute; transform:translate(-50%,10px); min-width:50vw; display: none; width: 50%; padding: 15px; background: #FFFF99; border: solid 2px #000000;">{{get_flashed_messages()[-1]}}</span>
    </div>
  <body style="text-align: center; background-color: #666666;">
    <div class="page_background">
      <div class="header_border">
	<a href="https://www.clemson.edu/science/academics/departments/mathstat/"
	   title="Department Home">
	  <img class="logo_image"
	       src="/style/math_logo.png"
	       alt="math department logo"></a>
	  <h1 class="header_box">{{title}}</h1>
	  </table>
      </div>
      <div style="padding-left: 10px; padding-right: 10px; border: solid 2px black; padding-bottom: 10px;">
	{% block content %}{% endblock %}
      </div>
      <div style="text-align: center; margin-top:
	15px;"><a href="/dept_forms/website_error" target="_blank">Report a
	problem with this website</a>
      </div>
    </div>
    {# Uncomment the following line to print the debug variable to the page #}
    {# <p> debug in layout: {{ debug }} </p> #}
  </body>
</html>
