.question
{
    margin-top: 20px;
}

.options .question
{
    margin-top: 10px;
}

textarea
{
    width: 350px;
    height: 100px;
}

.did_participate .question
{
    text-decoration: line-through;
}

.did_participate .options
{
    display: none;
}

.did_not_participate .question
{
    text-decoration: line-through;
}

.did_not_participate .options
{
    display: none;
}
